---
layout: default
---

<h2>All pages</h2>

Here is all the current <b>draft</b> content for this presentation

<h5>Articles</h5>

<ul>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.type == 'article' %}
                <li><a href="/keynote-bsideslisbon{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>

<h5>Research</h5>

<ul>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.type == 'research' %}
                <li><a href="/keynote-bsideslisbon{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>

<h5>Questions</h5>

<ul>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.type == 'question' %}
                <li><a href="/keynote-bsideslisbon{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>


<h5>Draft notes</h5>

<ul>
    <ul>
        {% for page in site.pages %}
            {% if page.title and page.type == 'draft' %}
                <li><a href="/keynote-bsideslisbon{{page.url}}">{{page.title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</ul>
<hr>
{{content}}
